*{
  -webkit-font-smoothing: antialiased;
  
}
*, ::before, ::after{
  box-sizing: border-box;
}
*div{
  padding: 0px;
  margin: 0px;
  border: 0px;
  font-size: 100%;
  vertical-align: baseline;
  display: block;
  
}
.Sweetdoge{
  vertical-align: baseline;
  height: auto;
  line-height: 1;
  font-size: 16px;
  font-family: Poppin;
  -webkit-font-smoothing:antialiased;
  box-sizing: border-box;
  display: block;
  width: 100%;
  background-color: black;
  overflow: hidden;
}
body::-webkit-scrollbar{
  height: 10px;
  width: 2px;
  scroll-behavior: auto;
}
.navigation{
  background: rgb(255, 255, 255);
  position: fixed;
  top: 0px;
  transition: top 0.2s ease 0s;
  height: 79px;
  width: 100%;
  margin: 0px auto;
  z-index: 20;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  padding: 0px 40px;
  gap: 20px;
  border-bottom: 1px solid rgb(146, 144, 154);
}
.backround{
  height: auto;
  width: 100%;
  background-image: url(./image/hiinh.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center, center;
  position: relative;
  padding: 150px 0px 50px;
  margin-top: 79px;
}
.desktop{
  height: 28px;
  width: 200px;
  display: block;
}
.Mobile{
  height: 18px;
  width: 100px;
  display: none;
}
.Menu{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  text-align: right;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 28px;
  color: black;
  position: relative;
  -webkit-box-pack: center;
  font-family: Inter;
  gap: 30px;
}
.Menu1{
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
.Menu1item{
  text-align: center;
}
.Menu a{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  text-decoration: none;
  color: black;
  border: none;
}
.Menu a:hover{
  height: 40px;
  background: rgb(205, 190, 220);
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.Tab8{
  height: 65px;
  width: 100%;
  background-color: rgb(39, 38, 44);
  position: fixed;
  bottom: 0;
  display: none;
}
.Menu2{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: fixed;
}
.Menu2item{
  color: white;
  display: flex;
  align-items: center;
}
.Menu2 a{
  text-decoration: none;
  gap: 20px;
  margin-top: 30px;
}

.pay{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.Buy button{
  width: 153px;
  border-radius: 40px;
  height: 46px;
  background-image: url(./image/buy\ now.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  cursor: pointer;
  border: none;
  color: rgb(156, 96, 25);
}
.Buy button:hover{
  color: rgb(179, 102, 102);
  background: rgb(166, 144, 119);
}

.Connect button{
  border: 1px solid rgba(243, 243, 242, 0.69);
  box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  text-shadow: rgba(0, 0, 0, 0.25) 0px 3px 3px;
  font-size: 16px;
  background-size: cover;
  background-position: center center;
  background-image: url(./image/BUTTON-1\ 2.png);
  background-repeat: no-repeat;
  color: rgb(69, 59, 8);
  cursor: pointer;
  border-radius: 40px;
  width: 190px;
  height: 46px;
}
.Connect button:hover{
  color: red;
  border: 1px solid rgb(202, 169, 58);
}
.Tab1{
 display: flex;
 flex-direction: column;
 align-items: center;
 text-align: center;
}
.Tab1Title{
  color: rgb(252, 213, 53);
  font-family: myFont;
  text-align: center;
  text-shadow: rgba(196, 132, 39, 0.6) 4px 4px 10px;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.92px;
  text-transform: uppercase;
}
.Tab1Body{
  width: 100%;
  height: 96px;
  max-width: 780px;
  padding: 0px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  -webkit-box-align: center;
  margin-top: 100px;
  background: linear-gradient(94.91deg, rgba(228, 222, 222, 0.24) -3.63%, rgba(228, 222, 222, 0.02) 40.96%, rgba(228, 222, 222, 0.192) 98.24%);
  backdrop-filter: blur(14.5px);
  border-radius: 16px;
}
.Tab1Body img:hover{
  background: rgb(221, 214, 214);
  border: 1px solid rgb(221, 214, 214);
  border-radius: 25px;
}

.Tab2{
  background: url(./image/About.png)center center / cover no-repeat rgb(34, 30, 30);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 80px 40px;
  gap: 50px;
}

.Tab2 img {
  max-width: 560px;
  max-height: 549px;
}

.Tabtext{
  display: flex;
  flex-direction: column;
  width: 439.45px;
  height: 481.2px;
  text-align: left;
  justify-content: space-between;
  color: white;
  gap: 10px;
}

.about{
  color: rgb(252, 213, 53);
  font-size: 64px;
  font-family: myFont;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.92px;
}

.aboutbody{
  text-align: start;
  color: rgb(255, 255, 255);
  font-family: Poppin;
  font-style: normal;
  line-height: 1.3;
  font-size: 16px;
}
.aboutbd{
  text-align: start;
  color: rgb(255, 255, 255);
  font-family: Poppin;
  font-style: normal;
  line-height: 1.3;
  font-size: 16px;
}
.aboutkb{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: myFont;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #FAFAF9;
  width: 370.34px;
  gap: 10px;
  height: 28.8px;
}
.textkb{
  color: rgb(250, 250, 249);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  align-items: center;
}

.Tab3{
  background: url(./image/bgEnjoy.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0px 0px 0px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  -webkit-box-align:center;
  align-items: center;
  gap: 30px;
}

.Tab3text{
  color: rgb(252, 213, 53);
  text-align: center;
  font-family: myFont;
  text-shadow: rgba(196, 132, 39, 0.6) 4px 4px 10px;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.92px;
  text-transform: uppercase;
}
.Tab3item{
  height: auto;
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    gap: 30px;
}
.Item1{
  background: url(./image/bgBuy.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: start;
  height: 520px;
  width: 400px;
  gap: 100px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
  border-radius: 8px;
}
.Item1a{
  width: 179.05px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 32px;
  font-family: Poppin;
  font-style: normal;
  font-weight: 700;
  text-transform: none;
  margin: 15px 10px 0px 0px;
  color: white;
}
.Item1b{
  height: 168px;
  width: 280px;
  font-size: 16px;
  margin-right: 20px;
  font-family: Poppin;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}
.Item1 img{
  position: absolute;
  top: 74%;
}
.Item2{
  background-image: url(./image/bgPool.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: start;
  height: 520px;
  width: 400px;
  gap: 100px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
  border-radius: 8px;
}
.Item2a{
  width: 179.05px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 32px;
  font-family: Poppin;
  font-style: normal;
  font-weight: 700;
  text-transform: none;
  margin: 15px 10px 0px 0px;
  color: white;
}
.Item2b{
  height: 168px;
  width: 280px;
  font-size: 16px;
  margin-right: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}
.Item2 img{
  position: absolute;
  top: 74%;
}
.Item3{
  background-image: url(./image/bgPool.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: start;
  height: 520px;
  width: 400px;
  gap: 72px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
  border-radius: 8px;
}
.Item3a{
  width: 179.05px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 32px;
  font-family: Poppin;
  font-style: normal;
  font-weight: 700;
  text-transform: none;
  margin: 15px 10px 0px 0px;
  color: white;
}
.Item3b{
  height: 168px;
  width: 280px;
  font-size: 16px;
  margin-right: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 30px;
}
.Item3 img{
  position: absolute;
  top: 74%;
}
.Tab3game{
  padding-top: 100px;
  width: 100%;
  height: 1300px;
}
.gameitem{
  background: url(./image/commingsoon.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  height: 1200px;
  padding: 20px 0px 20px 0px;
}
.gamebody{
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  width: 100%;
  height: 470px;
  padding: 0px 70px;
  text-align: center;
}
.bodyleft{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 490px;
  gap: 10px;
}
.lefthead{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: left;
  gap: 10px;
  font-weight: 600;
}
  .A{
    color: white;
    font-size: 32px;
  }
.leftBody{
  text-align: left;
  color: white;
  font-family: Poppin;
  font-size: 16px;
  line-height: 1.5;
}
  .Body{ 
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
.leftBodyA{
  display: flex;
  align-items: center;
  text-align: center;
  font-family: Poppin;
  font-size: 36px;
  color: white;
  gap: 10px;
  font-weight: 600;
}
.leftBodyB{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: right;
  font-size: 24px;
  gap: 10px;
  color: white;
}
.leftBodyC{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: right;
  font-size: 24px;
  gap: 20px;
  color: white;
}
.leftBot{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: right;
  font-size: 24px;
  gap: 23px;
  color: white;
}
.botA{
  border: 2px solid rgb(254, 203, 22);
  width: 800px;
  margin-top: 35px;
  padding: 0px 30px;

}
  .Buybt{
    background: url(./image/BUTTON-1\ 2.png);
    background-repeat: no-repeat;
    background-size: cover;
    top: 45%;
    right: 32%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 50px;
    width: 248px;
    position: absolute;
    cursor: pointer;
    
  }
  @keyframes example {
    33% {color: blue;}
    66% {color: red;}
    100% {color: yellow;}
  }
  .Buybt div{
    animation-name: example;
    animation-duration: 0.75s;
    animation-iteration-count: infinite;
  }
.gamebot{
  display: flex;
  flex-direction: column;
  align-items: center;
}
    .btText{
      text-shadow: rgba(0, 0, 0, 0.25) 0px 3px 3p;
      font-weight: 500;
      font-family: Poppin;
      font-size: 24px;
      color: rgb(245, 244, 244);
      
    }
.Tab4{
  display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    gap: 20px;
    background: url(./image/Frame\ 15.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 130px;
    width: 100%;
    height: 100vh;
}
.Tab4title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 200px;
  height: 76.8px;
}
.titletext{
  font: 64px;
  font-family: myFont;
  color: rgb(252, 213, 53);
  text-shadow: rgba(196, 132, 39, 0.6) 4px 4px 10px;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.92px;
    text-transform: uppercase;
}
.Tab4text{
  display: flex;
  flex-direction: column;
    gap: 12px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: left;
    color: white;
}
  .Text1{
    display: flex;
    flex-direction: row;
    width: 628px;
    height: 48px;
    align-items: center;
    gap: 10px;
    line-height: 1.5;
  }
.Tab5{
  padding: 100px 0px;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  gap: 30px;
  width: 100%;
  background: url(./image/Frame\ 16.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
  .Tab5title{
    color: rgb(252, 213, 53);
    text-align: center;
    font-family: myFont;
    text-shadow: rgba(196, 132, 39, 0.6) 4px 4px 10px;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.92px;
    text-transform: uppercase;
  }
.Tab5body{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 80px;
}
.body5{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 60px;
}
  .bodyL5{
    color: rgb(80, 255, 255);
    font-size: 32px;
    display: flex;
    flex-direction: column;
    justify-content: right;
    width: 400px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
    .bodyL5text{
      color: white;
      font-size: 24px;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 1.5;
    }
.Tab5bot{
  gap: 20px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.botTitle5{
  color: rgb(80, 255, 255);
  font-family: Poppins, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.botBody5{
  display: flex;
  flex-direction: row;
  gap: 20px;
  line-height: 1.5;
}
.columL5{
  font-size: 24px;
  color: white;
  font-weight: 700;
}
  .Letf5{
    font-weight: normal;
  }
.columR5{
  font-size: 24px;
  color: white;
  font-weight: 700;
}
  .Right5{
    font-weight: normal;
  }

.Tab6{
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  justify-content: flex-start;
  padding: 50px 0px;
  width: 100%;
  height: 100%;
  background: url(./image/Frame\ 17.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.Tab6title{
  color: rgb(252, 213, 53);
  text-align: center;
  font-family: myFont;
  text-shadow: rgba(196, 132, 39, 0.6) 4px 4px 10px;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.92px;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.Tab6Body img{
  width: 100%;
}
.Tab6bot{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 150px;
}
  .BotR6{
    color: rgb(80, 255, 255);
    font-family: Poppin;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    right: 60px;
  }
    .R6text{
      color: white;
      font-family: Poppin;
      font-size: 16px;
      line-height: 1.5;
    }
.Tab7{
  color: rgb(228, 224, 224);
  text-align: center;
  background: rgb(71, 71, 71);
  padding: 16px;
  height: 104px;
}
  .Tab7title{
    font-size: 24px;
    line-height: 1.5;
    
  }
@font-face {
  font-family: myFont;
  src: url(./Font/ethnocentric\ rg.otf);
}

@font-face {
  font-family: Poppin;
  src: url(./Font/Inter.ttf);
}

@font-face {
  font-family: Inter;
  src: url(./Font/Inter.ttf);
}

@media only screen and (max-width: 575px){
  .desktop{
    display: none;
  }
  .Mobile{
    display: block;
  }
  .Menu1{
    display: none;
  }
  .Tab8{
    display: block;
  }
  .Buy button{
    height: 30px;
    width: 100px;
  }
  .Connect button{
    width: 100px;
    height: 30px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 3px;
    font-size: 12px;
    align-items: center;
  }
  .home{
    height: 220px;
  }
  .navigation{
    display: flex;
    align-items: center;
    padding: 0px 10px;
    height: 50px;
    gap: 10px;
  }
  .Connect{
    height: 35px;
    width: 100px;
  }
  .Tab8{
    background: rgb(47, 46, 46);
    height: 45px;
  }
  .Menu2{
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    left:12px ;
  }
  .Menu2 a{
    margin-top: 15px;
  }
  .Tab1Title{
    font-size: 18px;
    width: 300px;
  }
  .Tab1Body {
    height: 30px;
    background-size: cover;
    width: 250px;
    margin-top: 0%;
  }
  .Tab1Body img{
    height: 16px;
    width: 16px;
  }
  .backround{
    margin-top: 50px;
    height: 250px;
    padding: 80px 20px 20px 20px;
  }
  .Tab1{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    gap: 88px;
    
  }
  .Tab2{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 730px;
  }
  .Tab2 img{
    max-width: 290px;
    max-height: 250px;
  }
  .Tabtext{
    width: 300px;
  }
  .about{
    font-size: 18px;
    text-align: center;
  }
  .aboutbody{
    font-size: 12px;
  }
  .aboutbd{
    font-size: 12px;
  }
  .textkb{
    font-size: 16px;
  }
  .aboutkb{
    display: flex;
    justify-content: center;
    width: auto;
    gap: 5px;
  }
  .aboutkb img{
    max-width: 50px;
  }
  .Tab3text{
    font-size: 18px;
  }
  .Tab3item{
    display: flex;
    flex-direction: column;
    gap: 150px;
  }
  .Tab3{
    padding-top: 50px;
  }
  .Item1{
    height: 460px;
    width:380px ;
    margin-left: 20px;
  }
  .Item1 img{
    top: 20%;
    width: 200px;
  }
  .Item1a{
    font-size: 16px;
  }
  .Item1b{
    font-size: 12px;
  }
  .Item2{
    height: 460px;
    width:380px ;
    margin-left: 20px;
  }
  .Item2 img{
    top: 57%;
    width: 200px;
  }
  .Item2a{
    font-size: 16px;
  }
  .Item2b{
    font-size: 12px;
  }
  .Item3{
    height: 460px;
    width:380px ;
    margin-left: 20px;
    gap: 30px;
  }
  .Item3 img{
    width: 200px;
    top: 93%;
  }
  .Item3a{
    font-size: 16px;
  }
  .Item3b{
    font-size: 12px;
  }
  .gameitemhead img{
    width: 148.5px;
    height: 50px;
  }
  .gamebody{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 90%;
    padding: 0px 30px;
  }
  .bodyleft{
    width: 90%;
  }
  .A{
    font-size: 16px;
  }
  .leftBody{
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
  }
  .leftBodyA{
    font-size: 16px;
  }
  .leftBodyB{
    font-size: 12px;
    gap: 15px;
  }
  .leftBodyC{
    font-size: 12px;
  }
  .leftBot{
    font-size: 12px;
  }
  .iconn{
    width: 150px;
    height: 150px;
    right: 25px;
    position: absolute;
    top: 45%;
  }
  .Buybt{
    width: 100px;
    height: 20px;
    position: absolute;
    top: 56%;
    right: 50%;
  }
  .btText {
    font-size: 12px;
  }
  .gamebot img{
    height: 50px;
  }
  .Body{
    gap: 5px;
  }
  .Body img{
    height: 30px;
    width: 30px;
  }
  .lefthead img{
    height: 30px;
    width: 30px;
  }
  .Tab3game{
    padding-top: 80px;
    height: auto;
  }
  .gamebot{
    position: absolute;
    top: 59%;
  }
  .botA{
    width: 250px;
  }
  .gameitem{
    height: 900px;
  }
  .titletext{
    font-size: 18px;
  }
  .Tab4 {
    height: auto;
    padding: 50px 0px;
  }
  .Tab4text{
    font-size: 12px;
  }
  .Tab4text{
    padding: 20px;
  }
  .Text1{
    width: 100%;
  }
  .Tab5{
    padding: 50px 20px;
    height: auto;
  }
  .Tab5title{
    font-size: 18px;
  }
  .Tab5body{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
  }
  .body5{
    gap: 10px;
  }
  .bodyL5{
    font-size: 18px;
    width: auto;
  }
  .bodyL5text{
    font-size: 12px;
  }
  .bodyR5img{
    height: 150px;
    width: 150px;
  }
  .botTitle5{
    font-size: 16px;
  }
  .columL5{
    font-size: 16px;
  }
  .columR5{
    font-size: 16px;
  }
  .Letf5{
    font-size: 12px;
  }
  .Right5{
    font-size: 12px;
  }
  .Tab6title{
    font-size: 18px;
  }
  .BotR6{
    font-size: 16px;
    right: 5px;
    width: 180px;
  }
  .R6text{
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
  }
  .Tab7title{
    font-size: 14px;
  }
}

/* @media only screen and (min-width: 575px) */




